@import "tailwindcss";

@theme {
  --color-brand-light: #F9F6F2;
  --color-brand-base: #EDE6DC;
  --color-brand-dark: #FEFDFC;
  --color-brand-text: #4F4039;
  --color-brand-link: #223388;
  --color-brand-border: #8D8376;
}

body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--color-brand-dark);
  color: var(--color-brand-text);
  overflow: hidden;
}

/* Custom scrollbar for sidebar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
